@charset "UTF-8";
table {
  border-collapse: collapse; }

.h1 {
  min-width: 1080px;
  margin: 1em auto;
  text-align: center; }

.plan {
  width: 1080px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #ccc; }
  .plan caption {
    padding: 1em 0; }
  .plan-thead th,
  .plan-tbody td {
    padding: 1em 0;
    border: 1px solid #ccc; }
  .plan-thead th:nth-child(odd) {
    background: #a4e265; }
  .plan-thead th:nth-child(even) {
    background: #90c957; }
  .plan-tbody .title {
    display: block;
    font-weight: bold;
    font-size: 1.3em; }
  .plan-tbody .desc {
    display: inline-block;
    margin-top: 1.5em;
    font-size: 0.8em; }
    .plan-tbody .desc::before {
      content: "내용)";
      margin-right: 10px; }
  .plan-tbody .yet,
  .plan-tbody .ing,
  .plan-tbody .success {
    font-weight: bold;
    font-size: 0.8em; }
  .plan-tbody .yet::before {
    content: "준비중"; }
  .plan-tbody .ing::before {
    content: "미완료";
    color: #f00; }
  .plan-tbody .success::before {
    content: "완료";
    color: #a4e265; }
  .plan-context {
    padding: 2em 0;
    background: #e3f2d3; }
