table {
	border-collapse: collapse;
}
.h1 {
	min-width: 1080px;
	margin: 1em auto;
	text-align: center;
}
.plan {
	width: 1080px;
	margin: 0 auto;
	text-align: center;
	border: 1px solid #ccc;

	caption {
		padding: 1em 0;
	}
	&-thead th,
	&-tbody td {
		width: 33.3%;
		padding: 10px 0;
		border: 1px solid #ccc;
	}
	&-thead {
		th:nth-child(odd) {
			background: #a4e265;
		}
		th:nth-child(even) {
			background: #90c957;
		}
	}
	&-tbody {
		tr:nth-child(odd) td {
			background: #e3f2d3;
		}
		tr:nth-child(even) td {
			// background: #e3f2d3;
		}
	}
	&-context {
		padding: 2em 0;
	}
}