@charset "UTF-8";

.section {
	// height: 100vh;
	padding: 5em percentage(400/1280);
	@include box-sizing();
	font-size: 1.3em;

	.h {
		padding-bottom: 1em;
		font-weight: bold;
		text-align: center;
		font-size: 2em;
	}

	/* section
	--------------------------------------------------*/
	&.tab-area {
		overflow-y: visible;
		@include p-lr(percentage(100/1280));
	}

	/* popup contents
	--------------------------------------------------*/
	.list {
		border: 1px solid #ccc;
		text-align: center;
		font-size: 1.2em;

		a {
			display: block;
			padding: 1.5em 0;
		}
		li + li {
			border-top: 1px solid #ccc;
		}
	}
	.popup,
	.layer,
	.kevin {
		display: none;
	}
	.popup-box {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}
	.content {
		position: absolute;
		width: 500px;
		left: 50%;
		top: 50%;
		margin: -145px 0 0 -250px;
		text-align: center;
		@include v-mid();

		p {
			position: absolute;
			bottom: 0;
			width: 100%;
			text-align: center;
		}
	}
	.content-bg {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.5);
	}

	/* accordion contents
	--------------------------------------------------*/
	.folder {
		border: 1px solid #ccc;

		&-item {
			padding: 1.5em;
		}
		.folder-item + .folder-item {
			padding-top: 0;
		}
		.q-test {
			&::after {
				content: "";
				display: block;
				margin-top: 1.5em;
				border-top: 1px dotted #ccc;
			}
		}
		.a-test {
			padding-top: 1.5em;
		}
	}

	/* tab contents
	--------------------------------------------------*/
	$bd-color: #9e968c;
	$bd-h-color: #aea59a;

	.test-tab,
	.tab {
		position: relative;

		.test-menu,
		.menu {
			@include clearfix();
			margin: 0 0 1em -5px;

			li {
				float: left;
				width: percentage(1/6);
				text-align: center;

				&.is-current {
					a {
						color: $bd-color;
						background-color: transparent;
					}
				}
			}
			li + li {
				a {
					position: relative;

					&::before {
						content: "";
						position: absolute;
						bottom: 0;
						left: -9px;
						display: block;
						width: 9px;
						height: 2px;
						background-color: $bd-color;
					}
				}
			}
			a {
				display: block;
				padding: 1.5em 0;
				margin-left: 5px;
				border-radius: 5px 5px 0 0;
				border: 2px solid $bd-color;
				border-bottom: none;
				background-color: $bd-color;
				color: $white;
				font-weight: bold;

				&:hover {
					border-color: $bd-h-color;
					background-color: $bd-h-color;
					text-decoration: none;

					&::before {
						background-color: $bd-h-color;
					}
				}
			}
		}
		.test-item,
		.item {
			position: relative;
			border: 1px solid #ccc;
		}
		p {
			position: absolute;
			top: 50%;
			left: 50%;
			margin-left: -100px;
			width: 200px;
			text-align: center;
		}
		img {
			width: 100%;
		}
	}

	/* test contents
	--------------------------------------------------*/
	.kevin-info {

		a {
			text-align: center;
			font-size: 1.5em;
		}
	}
}
.section + .section {
	border-top: 2px dotted #ccc;
}
.close {
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: 50px;
}
.current {
	display: block;
}