@charset "UTF-8";
/// --------------------------------------------------
/// _variables: global variables
/// --------------------------------------------------


// layout
// --------------------------------------------------
$p-mobile: 15px;
$w-default: 1120px;

// fonts
// --------------------------------------------------
$font-default: 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', 'Nanum Gothic', '나눔 고딕', '돋움', dotum, sans-serif;
$sans: $font-default;
$serif: 'Buri', serif;

// color guide
// --------------------------------------------------
$white: #fff;
$fog: #f6f6f6;
$ash: #e5e5e5;

$silver: #ccc;

$gray: #727272;
$gray-dark: #555;

$brand: #758246;
