body,
html {
	margin: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
}
.l-wrap {
	max-width: 1080px;
	margin: 0 auto;
	padding: 30px;
}
.h1 {
	margin: 1em auto;
	text-align: center;
}
.plan {
	text-align: center;
	border: 1px solid #ddd;

	caption {
		padding: 1em 0;
	}
	&-thead th,
	&-tbody td {
		padding: 1em 0;
		border: 1px solid #ccc;
	}
	&-thead {
		th:nth-child(odd) {
			background: #a4e265;
		}
		th:nth-child(even) {
			background: #90c957;
		}
	}
	&-tbody {
		//제목 & 설명
		.title {
			display: block;
			font-size: 1.2em;
		}
		.desc {
			display: inline-block;
			margin-top: 1.5em;
			font-size: 0.8em;

			&::before {
				content: "내용)";
				margin-right: 10px;
			}
		}
		.refer {
			display: inline-block;
			margin-top: 3em;
			font-size: 0.8em;

			&::before {
				content: "참고)";
				margin-right: 10px;
			}
		}
		//상태표시
		.yet,
		.ing,
		.success,
		.refer {
			font-weight: bold;
			font-size: 0.8em;
		}
		.yet::before {
			content: "준비중";

		}
		.ing::before {
			content: "미완료";
			color: #f00;
		}
		.success::before {
			content: "완료";
			color: #a4e265;
		}
	}
	&-context {
		padding: 2em 0;
		font-weight: bold;
		font-size: 1.4em;
		background: #e3f2d3;
	}
}